cd "D:\URKO_PhDposition\ecologicalniche"
(
echo .Rproj.user/
echo .Rhistory
echo .RData
echo .httr-oauth
echo .quarto/
echo .DS_Store
echo Thumbs.db
echo renv/
echo renv/library/
echo renv/cache/
echo renv/staging/
echo *.dll
echo *.gpkg
echo *.tif
echo *.tiff
echo *.shp
echo *.shx
echo *.dbf
echo *.prj
echo *.cpg
echo output/**/*.pdf
echo output/**/*.png
echo output/**/*.jpeg
echo output/**/*.jpg
echo !output/**/*.csv
echo uralic_rf_modeling_project/data/**
echo !uralic_rf_modeling_project/data/.gitkeep
echo uralic_ecozones_project/data/**
echo !uralic_ecozones_project/data/.gitkeep
)>.gitignore
